"*":
  editor:
    showIndentGuide: true
    invisibles:
      eol: " "
    fontSize: 13
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "fb9cd9e7-e7ae-47af-f2e8-75e42b1ec93d"
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "*.pyc"
    ]
    themes: [
      "atom-dark-ui"
      "monokai-dark"
    ]
    audioBeep: false
    hideGitIgnoredFiles: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter"
    ]
    autoHideMenuBar: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs: {}
  whitespace: {}
  docblockr: {}
  linter:
    statusBar: "Show error of the selected line"
  "tree-view":
    hideIgnoredNames: true
  "release-notes":
    viewedVersion: "0.89.0"
  "highlight-selected": {}
  "autocomplete-plus": {}
  "linter-puppet-lint":
    oldVersion: false
  "linter-phpcs":
    codeStandardOrConfigFile: "Drupal"
