"*":
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "fb9cd9e7-e7ae-47af-f2e8-75e42b1ec93d"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai-dark"
    ]
    audioBeep: false
    autoHideMenuBar: true
  tabs: {}
  whitespace: {}
  docblockr: {}
  linter: {}
  "tree-view": {}
